{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ form.media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url 'admin:accounts_orderitem_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% trans 'Xác nhận đơn hàng' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post" id="delivery_form" novalidate>
        {% csrf_token %}
        <div>
            <fieldset class="module aligned">
                <h2>Thông tin đơn hàng #{{ order.id }}</h2>
                <div class="form-row">
                    <div>
                        <label>Khách hàng:</label>
                        <div class="readonly">{{ order.full_name }}</div>
                    </div>
                </div>
                <div class="form-row">
                    <div>
                        <label>Tổng tiền:</label>
                        <div class="readonly">{{ order.total_amount }}  VNĐ</div>
                    </div>
                </div>
                <div class="form-row">
                    <div>
                        <label>Địa chỉ giao hàng:</label>
                        <div class="readonly">{{ order.address }}</div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="module aligned">
                <h2>Thông tin giao hàng</h2>
                {% for field in form %}
                <div class="form-row">
                    <div>
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <div class="help">{{ field.help_text|safe }}</div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </fieldset>
        </div>

        <div class="submit-row">
            <input type="submit" value="Xác nhận đơn hàng" class="default" name="_save">
            <a href="{% url 'admin:accounts_orderitem_changelist' %}" class="closelink">Hủy</a>
        </div>
    </form>
</div>
{% endblock %} 